* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    scroll-behavior: smooth;
}

.container {
    background-image: url('background.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

header {
    display: grid;
    grid-template-columns: 75vw auto;
    background-color: white;
    opacity: 0.8;
}

.left-section {
    margin-top: 1em;
}

header img {
    width: 260px;
    height: 100px;
}

.motto-div {
    display: flex;
    justify-content: space-around;
}

.left-section h2, .oppurtunity h3 {
    font-family: 'Peas Sans';
}

.left-section h2 {
    font-size: 22pt;
}

.motto {
    font-size: 18px;
    font-family: 'Consolas';
    padding: 0 10px;
    font-weight: bolder;
}

.components {
    margin: auto;
    max-width: fit-content;
    display: grid;
    grid-template-columns: 25vw auto 20vw;
    gap: 6em;
}

.oppurtunity {
    background-image: url('oppurtunity.jpg');
    background-size: cover;
    border-radius: 10px;
    height: 14em;
    opacity: 0.8;
}

.oppurtunity h3 {
    font-size: large;
    padding: 10px 0;
    text-decoration: underline;
}

.oppurtunity ul li {
    text-align: left;
    padding: 4px;
}

.poster {
    width: 22em;
    height: 30em;
    box-shadow: 5px 5px;
}

.poster-div, .calendar-div {
    align-self: center;
}

.placement {
    width: 60%;
}

footer {
    font-family: 'Arial';
}

/* .placement {
    padding-top: 10em;
}

iframe {
    padding-top: 10em;
} */