@media (min-width: 575.98px) {

	* {
		font-size: 99%;
	}

	nav {
		font-style: italic;
	}
	
	#navigation {
		display: none;
	}
	
	#navigationcontents {
		display: none;
	}
	
	#conflogo {
		position: fixed;
		margin-top: 20px;
		margin-left: 20px;
		z-index: 2;
	}
	
	#conflogoforphone {
		display: none;
	}

	#header {
		font-family: 'Rajdhani', sans-serif;
		position: fixed;
		background-color: black;
		height: 129px;
		width: 100%;
		color: white;
		z-index: 1;
	}

	#headerdata {
		padding-left: 240px;
		margin-right: 50px;
	}

	#conftitle {
		font-size: 200%;
	}

	#hr {
		background-color: white;
		height: 1px;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#mainnav {
		float: left;
	}
	
	#socialicons {
		float: right;
	}
	
	
	
	
	#index-first-section {
		background-image: url("media/bg.jpg");
		background-repeat: no-repeat;
		max-width: 100%;
		height: 84vh;
		text-align: center;
		z-index: 0;
	}
	
	#index-confinfo {
		font-family: breeLight;
		opacity: 0.8;
		position: relative;
		top: 400px;
		font-size: 200%;
		color: black;
	}
	
	
	
	
	
	#index-second-section {
	background-color: #242323;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 14px;
	padding-left: 30px;
	color: white;
	}
	
	@font-face {
	font-family: breeLight;
	src: url("media/breeLight.otf");
	}
	
	#index-themission {
	font-family: breeLight;
	}

	#index-headtext {
		font-size: 200%;
		margin-left: 70px;
	}
	
	#index-vertical-line {
	background-color: #424242;
	width: 2px;
	height: 200px;
	float: right;
	margin-left: 25px;
	margin-top: 4px;
	}
	
	#index-getTouched {
		text-align: center;
	}
	
	#index-getintouch {
		font-size: 200%;
		text-align: center;
	}
	
	#index-liberation {
	font-family: breeLight;
	text-align: center;
	}
	
	.index-center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-bottom: -150px;
	}
	
	.index-bree {
		font-family: breeLight;
	}
	
	#index-mail {
		margin-bottom: 20px;
		margin-top: 5px;
	}
	
	#index-phone {
		height: 40px;
		margin-bottom: 12px;
		margin-top: 3px;
	}
	
	.index-social {
		height: 37px;
		margin-bottom: 15px;
		margin-top: 5px;
	}



	#csc552b-first-section {
		background-image: url("media/csc552b.jpeg");
		background-size:cover;
		background-repeat: no-repeat;
		max-width: 100%;
		z-index: 0;
		padding-left: 2%;
	}

	#csc552b-confinfo {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		opacity: 0.8;
		font-size: 200%;
		text-align: center;
		color: white;
	}

	#csc552b-subbody-subsection1 {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		opacity: 0.6;
		color: black;
		font-size: 170%;
	}

	#csc552b-subbody-subsection2 {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		color: white;
		font-size: 130%;
	}


	.blue { color: #185875; }
	.yellow { color: #FFF842; }

	.container th h1 {
		font-weight: bold;
		font-size: 1em;
		text-align: center;
		color: #fff;
	}

	.container td {
		font-weight: normal;
		font-size: 1em;
		-webkit-box-shadow: 0 2px 2px -2px #0E1119;
		-moz-box-shadow: 0 2px 2px -2px #0E1119;
		box-shadow: 0 2px 2px -2px #0E1119;
	}

	.container {
		text-align: left;
		overflow: hidden;
		width: 80%;
		margin: 0 auto;
		display: table;
		padding: 0 0 8em 0;
	}

	.container td, .container th {
		padding-bottom: 2%;
		padding-top: 2%;
		padding-left:2%;  
	}

	/* Background-color of the odd rows */
	.container tr:nth-child(odd) {
		background-color: #323C50;
	}

	/* Background-color of the even rows */
	.container tr:nth-child(even) {
		background-color: #2C3446;
	}

	.container th {
		background-color: #1F2739;
	}

	.container td:first-child { color: ; }

	.container tr:hover {
	background-color: #464A52;
	-webkit-box-shadow: 0 6px 6px -6px #0E1119;
		-moz-box-shadow: 0 6px 6px -6px #0E1119;
			box-shadow: 0 6px 6px -6px #0E1119;
	}

	.container td:hover {
	background-color: #FFF842;
	color: #403E10;
	font-weight: bold;
	
	box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
	transform: translate3d(6px, -6px, 0);
	
	transition-delay: 0s;
		transition-duration: 0.4s;
		transition-property: all;
	transition-timing-function: line;
	}

	.form-style-5{
		max-width: 500px;
		padding: 10px 20px;
		background: #f4f7f8;
		margin: 10px auto;
		padding: 20px;
		background: #f4f7f8;
		border-radius: 8px;
		font-family: Georgia, "Times New Roman", Times, serif;
	}
	.form-style-5 fieldset{
		border: none;
	}
	.form-style-5 legend {
		font-size: 1.4em;
		margin-bottom: 10px;
	}
	.form-style-5 label {
		display: block;
		margin-bottom: 8px;
	}
	.form-style-5 input[type="text"],
	.form-style-5 input[type="date"],
	.form-style-5 input[type="datetime"],
	.form-style-5 input[type="email"],
	.form-style-5 input[type="number"],
	.form-style-5 input[type="search"],
	.form-style-5 input[type="time"],
	.form-style-5 input[type="url"],
	.form-style-5 textarea,
	.form-style-5 select {
		font-family: Georgia, "Times New Roman", Times, serif;
		background: rgba(255,255,255,.1);
		border: none;
		border-radius: 4px;
		font-size: 15px;
		margin: 0;
		outline: 0;
		padding: 10px;
		width: 100%;
		box-sizing: border-box; 
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box; 
		background-color: #e8eeef;
		color:#8a97a0;
		-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
		box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
		margin-bottom: 30px;
	}
	.form-style-5 input[type="text"]:focus,
	.form-style-5 input[type="date"]:focus,
	.form-style-5 input[type="datetime"]:focus,
	.form-style-5 input[type="email"]:focus,
	.form-style-5 input[type="number"]:focus,
	.form-style-5 input[type="search"]:focus,
	.form-style-5 input[type="time"]:focus,
	.form-style-5 input[type="url"]:focus,
	.form-style-5 textarea:focus,
	.form-style-5 select:focus{
		background: #d2d9dd;
	}
	.form-style-5 select{
		-webkit-appearance: menulist-button;
		height:35px;
	}
	.form-style-5 .number {
		background: #1abc9c;
		color: #fff;
		height: 30px;
		width: 30px;
		display: inline-block;
		font-size: 0.8em;
		margin-right: 4px;
		line-height: 30px;
		text-align: center;
		text-shadow: 0 1px 0 rgba(255,255,255,0.2);
		border-radius: 15px 15px 15px 0px;
	}
	
	.form-style-5 input[type="submit"],
	.form-style-5 input[type="button"]
	{
		position: relative;
		display: block;
		padding: 19px 39px 18px 39px;
		color: #FFF;
		margin: 0 auto;
		background: #1abc9c;
		font-size: 18px;
		text-align: center;
		font-style: normal;
		width: 100%;
		border: 1px solid #16a085;
		border-width: 1px 1px 3px;
		margin-bottom: 10px;
	}
	.form-style-5 input[type="submit"]:hover,
	.form-style-5 input[type="button"]:hover
	{
		background: #109177;
	}
	



	#csc552b-second-section {
		background-color: #242323;
		width: 100%;
		padding-top: 15px;
		padding-bottom: 14px;
		padding-left: 30px;
		color: white;
	}
	
	
	
	#about-mainbody{
		background-color: #131946;
	}
	
	#blank {
		background-color: black;
		width: 100%;
		height: 129px;
	}
	
	#about-first-section {
		text-align: left;
		z-index: 0;
	}
	
	.about-h1 {
		color:#999997;
		font-size: 300%;
		font-family: 'Rajdhani', sans-serif;
	}

	.about-p {
		font-family: 'Abel', sans-serif;
		font-size: 24px;
		width: 700px;
		color: white;
	}

	#about-center {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	#secretariat-mainbody {
		background-color: #2E2B2B;
		color: white;
	}

	#welcomemessage {
		font-family: fantasy;
		font-size: 20px;
	}

	.secretariat-MemberData {
		text-align: center;
		padding: 0;
		border-left: medium solid #CCE8FF;
		margin-left: 20px;
		padding-left: 15px;
	}
	
	.secretariat-SecMemberName {
		font-size: 240%;
		font-family: 'Comic Neue', cursive;
		margin-bottom: 0;
		margin-top: 0;
	}

	input,select {
		width: 200px;
		height: 40px;
	}
	
	.secretariat-hr {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 45px;
		height: 3px;
		background-color: white;
		margin-top: 15px;
	}
	
	.secretariat-SecMemberInfo {
		font-family: 'Abel', sans-serif;
		font-size: 125%;
	}
	
	
	
	
	#last-section {
		background-color: #595858;
		padding-left: 150px;
		padding-top: 5px;
		padding-bottom: 5px;
		color: #949494;
	}
	
}



@media(max-width: 575.98px) {
	
	#navigation {
		width: 100%;
		height: 100vmin;
		background-color: white;
		z-index: 69;
		display: none;
	}
	
	#navigationcontents {
		display: none;
		width: 100%;
		text-align: center;
		margin-top: -200px;

	}
	
	#clickme {
		margin-left: 250px;
		font-size: 150%;
		font-weight: bold;
	}
	
	.navigation {
		color: black;
	}
	
	#conflogoforphone {
		position: absolute;
		width: 35px;
		height: 35px;
		z-index: 100;
		margin-top: 8px;
	}
	
	#conflogo {
		display: none;
	}
	
	#socialicons {
		position: absolute;
		float: left;
		margin-left: 47px;
		margin-top: -35px;
	}
	
	#header {
		font-family: 'Rajdhani', sans-serif;
		background-color: black;
		width: 100%;
		color: white;
	}
	
	#conftitle {
		font-size: 200%;
	}

	#hr {
		background-color: white;
		height: 1px;
		width: 100%;
		margin-bottom:0;
	}
	
	button {
		margin-left: 92%;
	}
	
	
	
	
	#index-first-section {
		background-image: url("media/background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 450px;
		text-align: center;
		z-index: 0;
	}
	
	#index-confinfo {
		background-color: grey;
		opacity: 0.8;
		position: relative;
		top: 350px;
		color: white;
	}
	
	#index-second-section {
		background-color: #242323;
		width: 100%;
		padding-top: 15px;
		padding-bottom: 14px;
		padding-left: 30px;
		padding-right: 30px;
		color: white;
	}
	
	@font-face {
		font-family: breeLight;
		src: url("media/breeLight.otf");
	}
	
	#index-themission {
		font-family: breeLight;
	}

	#index-headtext {
		font-size: 200%;
		margin-left: 70px;
	}
	
	#index-vertical-line {
		background-color: #424242;
		width: 100%;
		margin-right: 25px;
		height: 2px;
		float: right;
		margin-left: 25px;
		margin-bottom: 8px;
		margin-top: 4px;
	}
	
	#index-getTouched {
		text-align: center;
	}
	
	#index-getintouch {
		font-size: 200%;
		text-align: center;
	}
	
	#index-liberation {
		font-family: breeLight;
		text-align: center;
	}
	
	.index-center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	
	.index-bree {
		font-family: breeLight;
	}
	
	#index-mail {
		margin-bottom: 20px;
		margin-top: -20px;
	}
	
	#index-phone {
		height: 40px;
		margin-bottom: 12px;
		margin-top: 20px;
	}
	
	.index-social {
		height: 37px;
		margin-bottom: 15px;
		margin-top: 20px;
	}
	
	
	
	
	#about-mainbody {
		background-color: #131946;
	}
	
	
	#about-first-section {
		text-align: left;
		z-index: 0;
	}
	
	.about-h1 {
		color:#999997;
		font-family: 'Roboto', sans-serif;
		font-size: 200%;
	}

	.about-p {
		font-family: 'BreeLight', sans-serif;
		font-size: 18px;
		color: white;
	}

	#about-center {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	
	#secretariat-mainbody {
		background-color: #2E2B2B;
		color: white;
	}

	.secretariat-MemberData {
		text-align: center;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.secretariat-SecMemberName {
		font-size: 180%;
		font-family: 'Comic Neue', cursive;
		margin-bottom: 0;
		margin-top: 0;
	}
	
	.secretariat-hr {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 45px;
		height: 3px;
		background-color: white;
		margin-top: 15px;
	}
	
	.secretariat-SecMemberInfo {
		padding-left: 15px;
		padding-right: 15px;
		font-family: 'BreeLight', sans-serif;
		font-size: 100%;
		text-align: left;
	}
	
	.secretariat-SecMemberImage {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 25px;
	}
	
	#secretariat-NeeleshSharma, #secretariat-SakshamSharma, #secretariat-HardikKharbanda, #secretariat-RishiGusain, #secretariat-ShivamAnand, #secretariat-ChanchalSrivastava, #secretariat-ShikharSuman, #secretariat-AryanSharma {
		border-left: medium solid #CCE8FF;
		margin-left: 0px;
		padding-left: 3px;
	}
	
	
	
	
	#last-section {
	background-color: #595858;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #949494;
	}
	
}
