* {
  margin: 0;
  padding: 0;
}

#index-first-section {
		background-image: url("https://raw.githubusercontent.com/sharmaneelesh/sharmaneelesh.github.io/main/liberation/media/bg.jpg");
		background-repeat: no-repeat;
		max-width: 100vw;
		height: 100vh;
		text-align: center;
		z-index: 0;
	}